
@{
    ViewBag.Title = "orderStatus";
}

<div class="cart-container">
    <h2>orderStatus</h2>

    <p>@ViewBag.orderStatus</p>
    <p>Use this key: @ViewBag.key to view your order at anytime.</p>
</div>


