<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@{ViewData["Title"]}</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/Site.css")">
</head>

<body>
    <header class="row">

    </header>
    <main class="row">
        <section id="admin-sidebar" class="col-3">
            
        </section>
        <section id="admin-main-content" class="col-9">

        </section>
    </main>
</body>

</html>